
@{
    ViewBag.Title = "Citas";
    Layout = "~/Views/Shared/_PerfilLayout.cshtml";
}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h2 class="subtitulo"><span>Historial de citas</span></h2>
        </div>
    </div>
</div>

<div class="container cita bg-light my-5">
    <div class="row justify-content-center d-flex justify-content-center align-content-around py-1">
        <div class="citas-exclamation col-md-12 text-center">
            <i class="fa fa-solid fa-exclamation"></i>
        </div>

        <div class="col-md-12 alert text-secondary text-center fs-4">
            Usted no ha agendado ninguna cita!
        </div>

    </div>
</div>


<div class="container cita-realizada cita my-5 p-0">
    <div class="col-md-12 ">
        <h3 class="text-center  text-white p-2"> Cita realizada</h3>
    </div>

    <div class="col-md-12 d-flex justify-content-around row align-items-center">
        <div class="col-sm-12 col-md-3 my-3 ">
            <p class="fw-bold">Foto de la mascota</p>
            <img src="https://images3.alphacoders.com/865/thumb-1920-86537.jpg" alt="img de la mascota" class="img-fluid" />
        </div>
        <div class="col-sm-12 col-md-3 my-3">
            <div class="col-sm-12  col-md-12my-3">
                <p class="fw-bold">Nombre de la mascota</p>
                <div>Lorem</div>
            </div>
            <div class="col-sm-12  col-md-12 my-3">
                <p class="fw-bold">Tipo de servicio</p>
                <div>Servicio</div>
            </div>
            <div class="col-sm-12 col-md-12 my-3">
                <p class="fw-bold">Fecha</p>
                <div>Fecha</div>
            </div>
        </div>
        

        <div class="col-sm-12 col-md-6 ">
            <p class="fw-bold">Comentarios</p>
            <div>Comentario</div>
            <div>Comentario</div>
        </div>
    </div>

    
</div>

<div class="container cita-cancelada cita my-5 p-0">
    <div class="col-md-12 ">
        <h3 class="text-center  text-white p-2"> Cita cancelada</h3>
    </div>

    <div class="col-md-12 d-flex justify-content-around row align-items-center">
        <div class="col-md-12 col-lg-3 my-3 ">
            <p class="fw-bold">Foto de la mascota</p>
            <img src="https://images3.alphacoders.com/865/thumb-1920-86537.jpg" alt="img de la mascota" class="img-fluid" />
        </div>
        <div class="col-sm-12 col-md-3 my-3">
            <div class="col-sm-12  col-md-12my-3">
                <p class="fw-bold">Nombre de la mascota</p>
                <div>Lorem</div>
            </div>
            <div class="col-sm-12  col-md-12 my-3">
                <p class="fw-bold">Tipo de servicio</p>
                <div>Servicio</div>
            </div>
            <div class="col-sm-12 col-md-12 my-3">
                <p class="fw-bold">Fecha</p>
                <div>Fecha</div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 ">
            <p class="fw-bold">Comentarios</p>
            <div>Comentario</div>
            <div>Comentario</div>
        </div>
    </div>

</div>


<div class="container cita-curso cita my-5 p-0">
    <div class="col-md-12 ">
        <h3 class="text-center  text-white p-2"> Cita en curso</h3>
    </div>
    <div class="col-md-12 row  ">
        <div class="step-wizard d-flex justify-content-center ">
            <ul class="step-wizard-list">
                <li class="step-wizard-item">
                    <span class="progress-count">1</span>
                    <span class="progress-label">Revisando a la mascota</span>
                </li>
                <li class="step-wizard-item ">
                    <span class="progress-count">2</span>
                    <span class="progress-label">Cortando el pelo</span>
                </li>
                <li class="step-wizard-item current-item" >
                    <span class="progress-count">3</span>
                    <span class="progress-label">Limpieza de la mascota</span>
                </li>
                <li class="step-wizard-item">
                    <span class="progress-count">4</span>
                    <span class="progress-label">Terminado</span>
                </li>
            </ul>
        </div>
    </div>
    

    <div class="col-md-12 d-flex justify-content-around row align-items-center">
        <div class="col-sm-12 col-md-3 my-3 ">
            <p class="fw-bold">Foto de la mascota</p>
            <img src="https://images3.alphacoders.com/865/thumb-1920-86537.jpg" alt="img de la mascota" class="img-fluid" />
        </div>
        <div class="col-sm-12 col-md-3 my-3">
            <div class="col-sm-12  col-md-12my-3">
                <p class="fw-bold">Nombre de la mascota</p>
                <div>Lorem</div>
            </div>
            <div class="col-sm-12  col-md-12 my-3">
                <p class="fw-bold">Tipo de servicio</p>
                <div>Servicio</div>
            </div>
            <div class="col-sm-12 col-md-12 my-3">
                <p class="fw-bold">Fecha</p>
                <div>Fecha</div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 ">
            <p class="fw-bold">Comentarios</p>
            <div>Comentario</div>
            <div>Comentario</div>
        </div>
    </div>

</div>