
@{
    ViewBag.Title = "Manual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container  contenedor-m my-5">
    <aside>
        <div class="contenedor-manual" id="manual">
            <h3 class="titulo-manual">Manual de Usuario</h3>
            <ul class="lista-manual">
                <li class="activo"><a href="#1" >1. Registrarse</a></li>
                <li><a href="#2">2. Iniciar Sesion</a></li>
                <li><a href="#3">3. Preguntas frecuentes</a></li>
                <li><a href="#4">4. Generar cita para estetica</a></li>
                <li><a href="#5">5. Generar cita para guarderia</a></li>
                <li><a href="#6">6. Buscar cita en curso</a></li>
                <li><a href="#7">7. Historial de citas</a></li>
            </ul>
        </div>
    </aside>

    <main class="w-100">
        <div class="card info w-100" id="1">
            <h2 class="mt-4">1. Registrarse</h2>
            <p>Praesent consequat purus ac risus condimentum, lacinia aliquet velit congue. Etiam faucibus nibh in volutpat scelerisque. Praesent vehicula est lorem, eu pretium odio faucibus quis. Donec nec vestibulum urna, at viverra ante. Praesent convallis facilisis purus, sagittis hendrerit urna iaculis sit amet. Sed gravida neque in ligula commodo viverra. Nulla metus nulla, efficitur quis viverra eget, lobortis eget elit. Ut auctor arcu est, a accumsan odio accumsan blandit. Nunc euismod lobortis lacus vel euismod.</p>
        </div>

        <div class="card info w-100" id="2">
            <h2 class="mt-4">2. Iniciar Sesion</h2>
            <p>Praesent consequat purus ac risus condimentum, lacinia aliquet velit congue. Etiam faucibus nibh in volutpat scelerisque. Praesent vehicula est lorem, eu pretium odio faucibus quis. Donec nec vestibulum urna, at viverra ante. Praesent convallis facilisis purus, sagittis hendrerit urna iaculis sit amet. Sed gravida neque in ligula commodo viverra. Nulla metus nulla, efficitur quis viverra eget, lobortis eget elit. Ut auctor arcu est, a accumsan odio accumsan blandit. Nunc euismod lobortis lacus vel euismod.</p>
        </div>

        <div class="card info w-100" id="3">
            <h2 class="mt-4">3. Preguntas frecuentes</h2>
            <p>Praesent consequat purus ac risus condimentum, lacinia aliquet velit congue. Etiam faucibus nibh in volutpat scelerisque. Praesent vehicula est lorem, eu pretium odio faucibus quis. Donec nec vestibulum urna, at viverra ante. Praesent convallis facilisis purus, sagittis hendrerit urna iaculis sit amet. Sed gravida neque in ligula commodo viverra. Nulla metus nulla, efficitur quis viverra eget, lobortis eget elit. Ut auctor arcu est, a accumsan odio accumsan blandit. Nunc euismod lobortis lacus vel euismod.</p>
        </div>

        <div class="card info w-100" id="4">
            <h2 class="mt-4">4. Generar cita para estetica</h2>
            <p>Praesent consequat purus ac risus condimentum, lacinia aliquet velit congue. Etiam faucibus nibh in volutpat scelerisque. Praesent vehicula est lorem, eu pretium odio faucibus quis. Donec nec vestibulum urna, at viverra ante. Praesent convallis facilisis purus, sagittis hendrerit urna iaculis sit amet. Sed gravida neque in ligula commodo viverra. Nulla metus nulla, efficitur quis viverra eget, lobortis eget elit. Ut auctor arcu est, a accumsan odio accumsan blandit. Nunc euismod lobortis lacus vel euismod.</p>
        </div>

        <div class="card info w-100" id="5">
            <h2 class="mt-4">5. Generar cita para guarderia</h2>
            <p>Praesent consequat purus ac risus condimentum, lacinia aliquet velit congue. Etiam faucibus nibh in volutpat scelerisque. Praesent vehicula est lorem, eu pretium odio faucibus quis. Donec nec vestibulum urna, at viverra ante. Praesent convallis facilisis purus, sagittis hendrerit urna iaculis sit amet. Sed gravida neque in ligula commodo viverra. Nulla metus nulla, efficitur quis viverra eget, lobortis eget elit. Ut auctor arcu est, a accumsan odio accumsan blandit. Nunc euismod lobortis lacus vel euismod.</p>
        </div>

        <div class="card info w-100" id="6">
            <h2 class="mt-4">6. Buscar cita en curso</h2>
            <p>Praesent consequat purus ac risus condimentum, lacinia aliquet velit congue. Etiam faucibus nibh in volutpat scelerisque. Praesent vehicula est lorem, eu pretium odio faucibus quis. Donec nec vestibulum urna, at viverra ante. Praesent convallis facilisis purus, sagittis hendrerit urna iaculis sit amet. Sed gravida neque in ligula commodo viverra. Nulla metus nulla, efficitur quis viverra eget, lobortis eget elit. Ut auctor arcu est, a accumsan odio accumsan blandit. Nunc euismod lobortis lacus vel euismod.</p>
        </div>

        <div class="card info w-100" id="7">
            <h2 class="mt-4">7. Historial de citas</h2>
            <p>Praesent consequat purus ac risus condimentum, lacinia aliquet velit congue. Etiam faucibus nibh in volutpat scelerisque. Praesent vehicula est lorem, eu pretium odio faucibus quis. Donec nec vestibulum urna, at viverra ante. Praesent convallis facilisis purus, sagittis hendrerit urna iaculis sit amet. Sed gravida neque in ligula commodo viverra. Nulla metus nulla, efficitur quis viverra eget, lobortis eget elit. Ut auctor arcu est, a accumsan odio accumsan blandit. Nunc euismod lobortis lacus vel euismod.</p>
        </div>
    </main>

</div>

<script src="~/Scripts/Manual.js"></script>   